<div class="col-sm-12 search-cr-head-div" id="crsearch">

  <form id="bottomSearchForm" [formGroup]="bottomSearchForm" (ngSubmit)="bottomSearchSubmit(bottomSearchForm.value)" autocomplete="off"
    novalidate>
    <br>
    <div class="form-group">
      <label for="keywordLabel" class="col-sm-12 bottom-form-label" id="bf_keyword_label">
        Keywords
      </label>



      <em id="bf_kw_pattern" *ngIf="!validateKeywordtext() && keywordtext.errors.pattern">
        <i class="fa fa-exclamation-circle errorIconSize"></i><b>Special characters not allowed</b></em>
      <em id="bf_kw_min" *ngIf="!validateKeywordtext() && keywordtext.errors.minlength">
        <i class="fa fa-exclamation-circle errorIconSize"></i><b>Enter at least 2 characters</b></em>
      <em id="bf_kw_max" *ngIf="!validateKeywordtext() && keywordtext.errors.maxlength">
        <i class="fa fa-exclamation-circle errorIconSize"></i><b>Max of 300 characters can be entered</b></em>

      <div class="input-group noMarginPad">
        <input id="bf_kw_textbox" class="form-control" type="text" formControlName="keywordtext" [ngClass]="{'error' : !validateKeywordtext() }"
          id="keywordtext">

        <span class="input-group-append">
          <button id="bf_kw_plusbutton" class="btn btn-outline-secondary border-left-0 border plus-button-style" (click)="clickedPlus()" type="button">

          </button>
        </span>
      </div>
      <br>
      <mat-chip-list>
        <mat-chip *ngFor="let fruit of keywordsarray" 
                 [removable]="removable" (removed)="remove(fruit)">
                 <p style="color:red"> {{fruit}} </p>
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="form-group">
      <label for="effDateFromLabel" class="col-sm-12 bottom-form-label" id="bf_datefrom_label">
        Effective date range
      </label>

      <em *ngIf="invalidFromDateError.isError" id="bf_fromdate_errmsg">
      <i class="fa fa-exclamation-circle errorIconSize"></i><b>{{ invalidFromDateError.errorMessage }}</b></em>

      <em *ngIf="invalidFromGreaterToError.isError" id="bf_fromgreaterto_errmsg">
      <i class="fa fa-exclamation-circle errorIconSize"></i><b>{{ invalidFromGreaterToError.errorMessage }}</b></em>

      <div class="input-group noMarginPad"
      bsDatepicker #fromdatePicker="bsDatepicker"
      [triggers]="''"
      (bsValueChange)="onFromDateSelected( $event )" [isOpen]="isFromOpen" 
      [bsConfig]="datePickerConfig"
       >
     <input #dateFromInput id="bf_fromdate_textbox"
            type="text" class="form-control"
            placeholder="mm/dd/yyyy"
            formControlName="fromDateFormControl"
            [textMask]="{mask: dateMask}"
            value="{{fromDatePickerValue |  date:'MM/dd/yyyy'}}"
            (blur)="onFromDateChanged()"
            >
                        
           <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border cal-button-style" (click)="isFromOpen = !isFromOpen" 
              type="button" id="bf_fromdate_calbutton">
  
            </button>
          </span>

          </div>


      <label for="effDateToLabel" class="col-sm-12 bottom-form-label" id="bf_todate_label">
        to
      </label>

      <em id="bf_todate_errmsg" *ngIf="invalidToDateError.isError">
        <i class="fa fa-exclamation-circle errorIconSize"></i><b>{{ invalidToDateError.errorMessage }}</b></em>

      <div class="input-group noMarginPad"
      bsDatepicker #todatePicker="bsDatepicker"
      [triggers]="''"
      (bsValueChange)="onToDateSelected( $event )" [isOpen]="isToOpen" 
      [bsConfig]="datePickerConfig"
       >
     <input #dateToInput id="bf_todate_textbox"
            type="text" class="form-control"
            placeholder="mm/dd/yyyy"
            formControlName="toDateFormControl"
            [textMask]="{mask: dateMask}"
            value="{{toDatePickerValue |  date:'MM/dd/yyyy'}}"
            (blur)="onToDateChanged()"
            >
                        
           <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border cal-button-style" (click)="isToOpen = !isToOpen" 
              type="button" id="bf_todate_calbutton">
  
            </button>
          </span>

        </div>

    </div>

    <div class="form-group noMargin">

      <label for="miscSearchLabel" class="col-sm-12 bottom-form-label" id="bf_misc_label">
        Misc search options:
      </label>

         <div class="form-check">
          <label class="form-check-label bottom-form-label" for="targetonly">
            <input type="radio" class="form-check-input" id="targetonly" name="targetvsnontarget" value="targetonly" formControlName="targetvsnontarget">
        <span>Targeted Only</span>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label bottom-form-label" for="nontargetonly">
            <input type="radio" class="form-check-input" id="nontargetonly" name="targetvsnontarget" value="nontargetonly" formControlName="targetvsnontarget">
        <span>Non-Targeted Only</span>
          </label>
        </div>

     
    </div>

    <div class="form-group">
        <div class="form-check">
        <label class=" form-check-label bottom-form-label">
          <input type="checkbox" class="form-check-input" id="bf_misc_currpromo_only"  formControlName="bcurrpromosOnlychkbx"> Current promos Only
        </label>
        </div>
        </div>

      <br>
    <div class="form-group">
        <label for="partnetCodesLabel" class="col-sm-12 bottom-form-label" id="bf_pc_label">
            Partner codes
          </label>
          <input class="form-control" type="text" formControlName="partnercodetext"
            [ngClass]="{'error' : !validatePartnerCodetext() }" placeholder="Example: AA,BA,CX"
            id="bf_pc_textbox">
    </div>
    <br>
    <button class="btn btn-primary col-sm-12" type="submit" id="bf_search_button">
      Search
    </button>
    <br>

    <div class="text-center">
      <button id="bf_clearall_button" class="btn btn-link" role="link" type="reset" name="Clear all" (click)="clearAllClicked(event)">Clear all</button>
    </div>

    <br>


  </form>

</div>