<div class="col-sm-12 search-head-div" id="Psearch">

  <form [formGroup]="topSearchForm" (ngSubmit)="topSearchSubmit(topSearchForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="pcodeLabel" class="col-sm-12 form-Promo-label">
        Promo / PST / TA code
      </label>

      <em *ngIf="!validatePCode() && pcode.errors.required">
        <i class="fa fa-exclamation-circle" style="font-size:20px"></i>
        Required</em>
      <em *ngIf="!validatePCode() && pcode.errors.pattern">
        <i class="fa fa-exclamation-circle" style="font-size:20px"></i>Special characters not allowed</em>
      <em *ngIf="!validatePCode() && pcode.errors.minlength">
        <i class="fa fa-exclamation-circle" style="font-size:20px"></i>Enter at least 2 characters</em>
      <em *ngIf="!validatePCode() && pcode.errors.maxlength">
        <i class="fa fa-exclamation-circle" style="font-size:20px"></i>A max of 5 characters can be entered</em>

      <div class="input-group noMarginPad">
        <input class="form-control" type="search" formControlName="pcode" [ngClass]="{'error' : !validatePCode() }" placeholder="Search..."
          id="ptextcode">

        <span class="input-group-append">
          <button class="btn btn-outline-secondary border-left-0 border glass-button-style" type="submit">

          </button>
        </span>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" formControlName="currpromochkbx"> Current promos only
        </label>
      </div>


    </div>
  </form>
</div>