<div class="col-sm-12" id="Psearch" style=" height:127px;
background-color: #EBEFF0;
border-style: solid;
border-width: 1px;
border-color: #D0DAE0;
border: solid 1px #D0DAE0; ">

  
<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
  
  <div class="form-group" style="margin:3%;padding:0%">
    
    <label class="col-sm-12 control-label"
    style="
    background-color: transparent;
    font-family: AmericanSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #333333;margin:0%;padding:0%"
    >Promo / PST / TA code</label> 
  </div>
  
  <div class="input-group" style="margin:0%;padding:0%">
      <input class="form-control py-2 border-right-0 border" type="search" 
      placeholder="Search" id="ptextcode"
      [(ngModel)]="pcode" name="ptextcode" #name="ngModel" minlength="2" required
      style="width: 199px;
      height: 32px;
      background-color: #FFFFFF;
      border-style: solid;
      border-width: 1px;
      border-color: #D0DAE0;
      border: solid 1px #D0DAE0;
      border-radius: 3px;"
      >
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="submit" 
                  style="background: white url(../../assets/Search-icon.svg) no-repeat right">
                    
                </button>
              </span>

      <!--
        <input type="text"   required class="form-control col-sm-offset-2 col-sm-10" 
          placeholder="Search" id="ptextcode"
          [(ngModel)]="pcode" name="ptextcode" #name="ngModel"
          >
          -->


         <!--
        <div class="input-group-btn input-group-append">
          <button class="btn btn-default" type="submit" id="go" style = "display: block; ">
            <img class="img-responsive" src="../../assets/Search-icon.svg"> 
          </button>
         </div>
        -->

      </div>
      <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" id="currpromochkbx" 
              name="currpromochkbx" 
              #currpchkbx
              (change)="onCurrPromoChkbxClicked(currpchkbx)"
            >
            Current promos only
          </label>
        </div>
  
    </form>
    
  </div>
