<div class="col-sm-12 mpZeroWidthFull">
  <div class="card-header cardHeaderStyle">
    <img src="Popular-icon.svg" *ngIf="isTrending === 'true'" class="img-fluid iconSize">
    <span class="headerPNameStyle"><b>Promo code: </b>{{promotionOrChallengeCode}}</span>
    <span class="pull-right">
      <img #ecimg src="Expand-icon.svg" (click)="toggleContent()" onmouseover="this.style.cursor='pointer'" class="img-fluid iconSize">
    </span>
  </div>
  <ng-content *ngIf="!visible" select="[card-body1]"></ng-content>

  <ng-content *ngIf="visible" select="[card-body3]"></ng-content>
</div>