<h3>Latest Promos Data here</h3>
<img src="../../assets/underc.jpeg" class="mx-auto d-block img-fluid">

<div *ngIf="lpromotion">
    <div class="col-sm-12">


        <form [formGroup]="lpromosSortForm" autocomplete="off" novalidate>
            <br>
            <div class="form-group label-select-flex">

                <label for="sortby" class="label-pt">Sort by: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select formControlName="lsortby" class="form-control col-sm-3">
                    <option value="startdate">Start date</option>
                    <option value="enddate">End date</option>
                    <option value="pcodeatoz">Promo code: A to Z</option>
                    <option value="pcodeztoa">Promo code: Z to A</option>
                </select>
            </div>
        </form>


        <div *ngIf="errMsgToDisplay"> </div>
         Result from LSCS : <br> PromotionOrChallengeCode : {{lpromotion.promotionOrChallengeCode}}
        <br> IsTrending: {{lpromotion.isTrending}}
        <br> Keywords: {{lpromotion.keyword}}
        <br> PromotionName: {{lpromotion.promotionName}}
    </div>


</div>