<div class="col-sm-12 ">



    <div *ngIf="errMsgToDisplay">
        <div [innerHTML]="errMsgToDisplay"></div>
    </div>

    <div *ngIf="promotions?.length === 0">No matching Promotions in Ventana</div>

    <div *ngIf="isBottomSearchValid === 0"><br><br>
        <p>You must enter at least one search requirement</p>
    </div>

    <div *ngIf="promotions?.length === 1">
        <div *ngFor="let promotion of promotions">


            <div class="card-header promoHeaderStyle">
                <span *ngIf="(isTrending === 'false') || (isTrending === null)">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <img id="sp_popular_icon" src="../../assets/Popular-icon.svg" *ngIf="promotion.isTrending === 'true'"
                    class="img-fluid iconSize">
                <span class="headerPNameStyle"><b>Promo code: </b>{{promotion.promotionOrChallengeCode}}</span>
                <span class="pull-right">
                    <img id="sp_collapse_icon" src="../../assets/Collapse-icon.svg" class="img-fluid iconSize">
                </span>
            </div>
            <br>



            <p class="col-sm-12 promotionNameSingleStyle"> {{promotion.promotionName}} </p>
            <br>
            <div class="card-header border-secondary">
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-6 sviewLabelSmStyle"><b>Promotion start to end dates:</b></div>
                        <div class="col-sm-6 sviewTextStyle"> {{promotion.promoStartDate}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{promotion.promoEndDate}}</div>
                    </div>

                </div>
                <hr class="hrwidth">
                <div class="col-sm-12 pb1">
                    <div class="row">
                        <div class="col-sm-6 sviewLabelStyle"><b>Is member registration required?</b></div>
                        <div class="col-sm-6 sviewTextStyle">{{promotion.registrationRequired}}</div>
                    </div>

                </div>
                <div class="col-sm-12 pb1">

                    <div class="row">
                        <div class="col-sm-6 sviewLabelSmStyle"><b>Member must register between:</b></div>
                        <div class="col-sm-6 sviewTextStyle"> {{promotion.memRegStartDate}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{promotion.memRegEndDate}}
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 pb1">

                    <div class="row">
                        <div class="col-sm-6 promotionDateLabelStyle"><b>Member must travel between:</b></div>
                        <div class="col-sm-6 promotionDatesStyle"> {{promotion.memTravelStartDate}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{promotion.memTravelEndDate}}
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 pb1">
                    <div class="row">
                        <div class="col-sm-6 sviewLabelSmStyle"><b>Late registration may be processed by</b></div>
                        <div class="col-sm-6 sviewTextStyle">{{promotion.lateRegEndDate}}</div>
                    </div>

                </div>
                <br>
                <hr class="hrwidth pb1">
                <div class="col-sm-12 pb1">
                    <div class="row">
                        <div class="col-sm-6 sviewLabelStyle"><b>Is this a targeted promotion?</b></div>
                        <div class="col-sm-6 sviewTextStyle">{{promotion.targetedPromotion}}</div>
                    </div>

                </div>

                <div class="col-sm-12 pb1">
                    <div class="row">
                        <div class="col-sm-6 sviewLabelStyle"><b>TA codes</b></div>
                        <div class="col-sm-6 sviewTextStyle">{{promotion.tac}}</div>
                    </div>

                </div>

                <hr class="hrwidth pb1">

                <div class="col-sm-12 pb1">
                    <div class="row">
                        <div class="col-sm-6 sviewLabelStyle"><b>Direct mailer:</b></div>
                        <div class="col-sm-6 sviewTextStyle">{{promotion.directmailer}}</div>
                    </div>

                </div>

                <div class="col-sm-12 pb1">
                    <div class="row">
                        <div class="col-sm-6 sviewLabelStyle"><b>Marketing page URL:</b></div>
                        <div class="col-sm-6" [innerHTML]="promotion.marketingpageurl"></div>
                    </div>

                </div>

                <div class="col-sm-12 pb1">
                    <div class="row">
                        <div class="col-sm-6 sviewLabelStyle"><b>Email URLs:</b></div>
                        <div class="col-sm-6" [innerHTML]="promotion.emailurl"></div>
                    </div>

                </div>
            </div>


            <br>

            <div class="card-header pb1">
                <div class="row">
                    <div class="col-sm-6 sviewLabelStyle"><b>Partner codes:</b></div>
                    <div class="col-sm-6 sviewTextStyle">{{promotion.partnerCodes}}</div>
                </div>
            </div>

            <br>
            <h6 id="sp_hte">HOW TO EARN</h6>
            <br>
            <div [innerHTML]="promotion.howToEarn"></div>

            <br>
            <h6 id="sp_fulfilment">FULFILLMENT</h6>
            <br>
            <div [innerHTML]="promotion.fulfillment"></div>

            <div class="card-header pb1">
                <div class="row">
                    <div class="col-sm-6 sviewLabelStyle"><b>PST codes</b></div>
                    <div class="col-sm-6 sviewTextStyle">{{promotion.pstcodes}}</div>
                </div>
            </div>

            <br>

            <app-promodetailaccordian (expandcollapseevent)="expandCollapseHandler($event)">

                <div accordian-collapsed>
                    <br><br>
                    <mat-expansion-panel [expanded]="allExpandState">
                        <mat-expansion-panel-header class="specific-class">
                            <mat-panel-title>

                                <div class="col-md-9">
                                    &nbsp;&nbsp;&nbsp;&nbsp; <span class="accLabelStyle"> Resolve issues</span>
                                </div>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div [innerHTML]="promotion.resolveIssues"></div>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="allExpandState">
                        <mat-expansion-panel-header class="specific-class">
                            <mat-panel-title>

                                <div class="col-md-9">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="accLabelStyle">aa.com view</span>
                                </div>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div [innerHTML]="promotion.aacomview"></div>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="allExpandState">
                        <mat-expansion-panel-header class="specific-class">
                            <mat-panel-title>

                                <div class="col-md-9">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="accLabelStyle">Terms and conditions</span>
                                </div>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div [innerHTML]="promotion.termsandconditions"></div>
                    </mat-expansion-panel>
                </div>
                <div accordian-expanded>
                    <br><br>
                    <mat-expansion-panel [expanded]="allExpandState">
                        <mat-expansion-panel-header class="specific-class">
                            <mat-panel-title>

                                <div class="col-md-9">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="accLabelStyle">Resolve issues</span>
                                </div>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div [innerHTML]="promotion.resolveIssues"></div>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="allExpandState">
                        <mat-expansion-panel-header class="specific-class">
                            <mat-panel-title>

                                <div class="col-md-9">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="accLabelStyle">aa.com view</span>
                                </div>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div [innerHTML]="promotion.aacomview"></div>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="allExpandState">
                        <mat-expansion-panel-header class="specific-class">
                            <mat-panel-title>

                                <div class="col-md-9">
                                    &nbsp;&nbsp;&nbsp;&nbsp; <span class="accLabelStyle">Terms and conditions</span>
                                </div>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div [innerHTML]="promotion.termsandconditions"></div>
                    </mat-expansion-panel>
                </div>

            </app-promodetailaccordian>






            <br>


        </div>

    </div>

    <div *ngIf="promotions?.length > 1">

        <form id="sr_mp_sort_form" [formGroup]="resultsSortForm" autocomplete="off" novalidate>
            <br>
            <div class="form-group label-select-flex">

                <label id="sr_sort_label" for="sortbylabel" class="label-pt">Sort by: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select id="sr_sort_comp" formControlName="sortby" class="form-control col-sm-3">
                    <option value="startdate">Start date</option>
                    <option value="enddate">End date</option>
                    <option value="pcodeatoz">Promo code: A to Z</option>
                    <option value="pcodeztoa" selected>Promo code: Z to A</option>
                </select>
            </div>
        </form>


        <div *ngFor="let promotion of promotions">

            <app-promodetails [promotionOrChallengeCode]="promotion.promotionOrChallengeCode" [isTrending]="promotion.isTrending"
                (hidesortevent)="hideSortHandler($event)">

                <div card-body1 class="card-header bgtransparent noMarginPad">

                    <div class="lightborder">
                        <p id="sr_mp_pname" class="col-sm-12 promotionNameStyle"> {{promotion.promotionName}} </p>

                        <div class="col-sm-12">

                            <div class="row">
                                <div class="col-sm-3 promotionDateLabelStyle"><b>Promotion dates:</b></div>
                                <div class="col-sm-9 promotionDatesStyle">Start: {{promotion.promoStartDate}}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    End: {{promotion.promoEndDate}}</div>
                            </div>

                        </div>
                        <hr class="hrwidth">

                        <div class="col-sm-12 pb1">
                            <div class="row">
                                <div class="col-sm-3 sviewLabelStyle"><b>PST codes:</b></div>
                                <div class="col-sm-9 sviewTextStyle">{{promotion.pstcodes}}</div>
                            </div>


                        </div>

                        <div class="col-sm-12 pb1">
                            <div class="row">
                                <div class="col-sm-3 sviewLabelStyle"><b>TA codes:</b></div>
                                <div class="col-sm-9 sviewTextStyle">{{promotion.tac}}</div>
                            </div>
                        </div>

                        <div class="col-sm-12 pb1">
                            <div class="row">
                                <div class="col-sm-3 sviewLabelStyle"><b>Partner codes:</b></div>
                                <div class="col-sm-9 sviewTextStyle">{{promotion.partnerCodes}}</div>
                            </div>


                        </div>
                        <hr class="hrwidth">

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3 sviewLabelStyle"><b>Keywords:</b></div>
                                <div class="col-sm-9 sviewTextStyle">{{promotion.keyword}}</div>
                                <br>
                            </div>

                        </div>
                        <br>
                    </div>

                </div>
                <hr>

                <div card-body3>



                    <div class="lightborder">

                        <p class="col-sm-12 promotionNameStyle"> {{promotion.promotionName}} </p>
                        <br>
                        <div class="card-header border-light">
                            <div class="col-sm-12">

                                <div class="row">
                                    <div class="col-sm-6 sviewLabelSmStyle"><b>Promotion start to end dates:</b></div>
                                    <div class="col-sm-6 sviewTextStyle">Start: {{promotion.promoStartDate}}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        End: {{promotion.promoEndDate}}</div>
                                </div>

                            </div>
                            <hr class="hrwidth">
                            <div class="col-sm-12 pb1">
                                <div class="row">
                                    <div class="col-sm-6 sviewLabelStyle"><b>Is member registration required?</b></div>
                                    <div class="col-sm-6 sviewTextStyle">{{promotion.registrationRequired}}</div>
                                </div>

                            </div>
                            <div class="col-sm-12 pb1">

                                <div class="row">
                                    <div class="col-sm-6 sviewLabelSmStyle"><b>Member must register between:</b></div>
                                    <div class="col-sm-6 sviewTextStyle"> {{promotion.memRegStartDate}}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{promotion.memRegEndDate}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12 pb1">

                                <div class="row">
                                    <div class="col-sm-6 promotionDateLabelStyle"><b>Member must travel between:</b></div>
                                    <div class="col-sm-6 promotionDatesStyle"> {{promotion.memTravelStartDate}}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{promotion.memTravelEndDate}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12 pb1">
                                <div class="row">
                                    <div class="col-sm-6 sviewLabelSmStyle"><b>Late registration may be processed by</b></div>
                                    <div class="col-sm-6 sviewTextStyle">{{promotion.lateRegEndDate}}</div>
                                </div>

                            </div>
                            <hr class="hrwidth pb1">
                            <div class="col-sm-12 pb1">
                                <div class="row">
                                    <div class="col-sm-6 sviewLabelStyle"><b>Is this a targeted promotion?</b></div>
                                    <div class="col-sm-6 sviewTextStyle">{{promotion.targetedPromotion}}</div>
                                </div>

                            </div>

                            <div class="col-sm-12 pb1">
                                <div class="row">
                                    <div class="col-sm-6 sviewLabelStyle"><b>TA codes</b></div>
                                    <div class="col-sm-6 sviewTextStyle">{{promotion.tac}}</div>
                                </div>

                            </div>

                            <hr class="hrwidth pb1">

                            <div class="col-sm-12 pb1">
                                <div class="row">
                                    <div class="col-sm-6 sviewLabelStyle"><b>Direct mailer:</b></div>
                                    <div class="col-sm-6 sviewTextStyle">{{promotion.directmailer}}</div>
                                </div>

                            </div>

                            <div class="col-sm-12 pb1">
                                <div class="row">
                                    <div class="col-sm-6 sviewLabelStyle"><b>Marketing page URL:</b></div>
                                    <div class="col-sm-6" [innerHTML]="promotion.marketingpageurl"></div>
                                </div>

                            </div>

                            <div class="col-sm-12 pb1">
                                <div class="row">
                                    <div class="col-sm-6 sviewLabelStyle"><b>Email URLs:</b></div>
                                    <div class="col-sm-6" [innerHTML]="promotion.emailurl"></div>
                                </div>

                            </div>

                        </div>
                        <br>

                        <div class="card-header pb1">
                            <div class="row">
                                <div class="col-sm-6 sviewLabelStyle"><b>Partner codes</b></div>
                                <div class="col-sm-6 sviewTextStyle">{{promotion.partnerCodes}}</div>
                            </div>
                        </div>

                        <br>
                        <h6 id="mp_hte">HOW TO EARN</h6>
                        <br>
                        <div [innerHTML]="promotion.howToEarn"></div>

                        <br>
                        <h6 id="mp_fulfilment">FULFILLMENT</h6>
                        <br>
                        <div [innerHTML]="promotion.fulfillment"></div>

                        <div class="card-header pb1">
                            <div class="row">
                                <div class="col-sm-6 sviewLabelStyle"><b>PST codes</b></div>
                                <div class="col-sm-6 sviewTextStyle">{{promotion.pstcodes}}</div>
                            </div>
                        </div>

                        <br>
                        <app-promodetailaccordian (expandcollapseevent)="expandCollapseHandler($event)">

                            <div accordian-collapsed>
                                <br><br>
                                <mat-expansion-panel [expanded]="allExpandState">
                                    <mat-expansion-panel-header class="specific-class">
                                        <mat-panel-title>

                                            <div class="col-md-9">
                                                &nbsp;&nbsp;&nbsp;&nbsp; <span class="accLabelStyle">Resolve Issues</span>
                                            </div>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div [innerHTML]="promotion.resolveIssues"></div>
                                </mat-expansion-panel>

                                <mat-expansion-panel [expanded]="allExpandState">
                                    <mat-expansion-panel-header class="specific-class">
                                        <mat-panel-title>

                                            <div class="col-md-9">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="accLabelStyle">aa.com view</span>
                                            </div>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div [innerHTML]="promotion.aacomview"></div>
                                </mat-expansion-panel>

                                <mat-expansion-panel [expanded]="allExpandState">
                                    <mat-expansion-panel-header class="specific-class">
                                        <mat-panel-title>

                                            <div class="col-md-9">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="accLabelStyle">Terms and
                                                    conditions</span>
                                            </div>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div [innerHTML]="promotion.termsandconditions"></div>
                                </mat-expansion-panel>
                            </div>
                            <div accordian-expanded>
                                <br><br>
                                <mat-expansion-panel [expanded]="allExpandState">
                                    <mat-expansion-panel-header class="specific-class">
                                        <mat-panel-title>

                                            <div class="col-md-9">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="accLabelStyle">Resolve Issues</span>
                                            </div>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div [innerHTML]="promotion.resolveIssues"></div>
                                </mat-expansion-panel>

                                <mat-expansion-panel [expanded]="allExpandState">
                                    <mat-expansion-panel-header class="specific-class">
                                        <mat-panel-title>

                                            <div class="col-md-9">
                                                &nbsp;&nbsp;&nbsp;&nbsp; <span class="accLabelStyle">aa.com view</span>
                                            </div>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div [innerHTML]="promotion.aacomview"></div>
                                </mat-expansion-panel>

                                <mat-expansion-panel [expanded]="allExpandState">
                                    <mat-expansion-panel-header class="specific-class">
                                        <mat-panel-title>

                                            <div class="col-md-9">
                                                &nbsp;&nbsp;&nbsp;&nbsp; <span class="accLabelStyle">Terms and
                                                    conditions</span>
                                            </div>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div [innerHTML]="promotion.termsandconditions"></div>
                                </mat-expansion-panel>
                            </div>

                        </app-promodetailaccordian>
                        <br>

                    </div>

                </div>

            </app-promodetails>
            <br><br><br>
        </div>
    </div>


</div>