<h3>Trending Promotions</h3>
<h6>Nice to have feature</h6>
<img src="underc.jpeg" class="mx-auto d-block img-fluid">

<div *ngIf="tpromotion">
    <div class="col-sm-12">


        <form [formGroup]="tpromosSortForm" autocomplete="off" novalidate>
            <br>
            <div class="form-group" style="display: flex">

                <label for="sortby" style="padding-top:1%">Sort by: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select formControlName="tsortby" class="form-control col-sm-3">
                    <option value="startdate">Start date</option>
                    <option value="enddate">End date</option>
                    <option value="pcodeatoz">Promo code: A to Z</option>
                    <option value="pcodeztoa">Promo code: Z to A</option>
                </select>
            </div>
        </form>


        <div *ngIf="errMsgToDisplay"> </div>
         Result from LSCS : <br> PromotionOrChallengeCode : {{tpromotion.promotionOrChallengeCode}}
        <br> IsTrending: {{tpromotion.isTrending}}
        <br> Keywords: {{tpromotion.keyword}}
        <br> PromotionName: {{tpromotion.promotionName}}
    </div>


</div>