table.table-bordered {
  border: 1px solid black;
  margin: 0%;
  padding: 0%
}

table.table-bordered>thead>tr>th {
  border: 1px solid black;
}

table.table-bordered>tbody>tr>td {
  border: 1px solid black;
}

.apt-head-text {
  color: #FFFFFF;
  background-color: transparent;
  font-family: AmericanSans;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.apt-head-style {
  height: 59px;
  background-color: #36495A;
  padding-top: 1%
}

.noMarginPad {
  margin: 0%;
  padding: 0%
}